
/* Some basic default values */
div.downpour_wrap div.downpour_select_box { background: url('arrow.png') right 7px no-repeat #eeeeee; padding: 5px 25px 5px 10px; cursor: pointer; border: 1px solid #999999; border-radius: 5px; }
div.downpour_wrap div.downpour_option_box { background-color: white; border: 1px solid #999; }
div.downpour_wrap div.downpour_row { padding: 5px; border: 1px solid transparent; border-right: none; border-left: none; cursor: pointer; }
div.downpour_wrap div.downpour_row_selected { background-color: #3333ff; border-color: #000088; color: white; }
div.downpour_wrap div.downpour_row_hover, 
div.downpour_wrap div.downpour_row_selected.downpour_row_hover { background-color: #ffff99; border-color: #ffff33; color: black; }

/* Sample of how you'd do a custom theme */
div.downpour_wrap.orange_select div.downpour_select_box { background-color: orange; font-weight: bold; }
div.downpour_wrap.orange_select div.downpour_row_selected { background-color: orange; color: black;}
div.downpour_wrap.orange_select div.downpour_row { border-color: orange; font-weight: bold; }
